[submodule "firebase"]
	path = firebase
	url = git@github.com:mapswipe/mapswipe-firebase.git
[submodule "assets"]
	path = assets
	url = git@github.com:mapswipe/mapswipe-assets.git
[submodule "fugit"]
	path = fugit
	url = https://github.com/toggle-corp/fugit.git
	branch = v0.1.6
